<% provide(:title, "Edit user") %>
<h1 align="center">Maak je profiel compleet!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :Naam %>
      <%= f.text_field :name %>

      <%= f.label :Email %>
      <%= f.text_field :email %>

      <%= f.label :Leeftijd %>
      <%= f.text_field :age %>

      <%= f.label :Geslacht %>
     
<div class="radio">
  <label>
    <input type="radio" name="gender" id="Man" value="Man">Man
      </label>
        </div>

<div class="radio">
  <label>
    <input type="radio" name="gender" id="Vrouw" value="Vrouw">Vrouw
      </label>
        </div>

<br>
      <%= f.label :Information %>
      <%= f.text_field :information %>

<br><br><br><br><br><br>
      <%= f.label :Verander_je_wachtwoord %>
      <%= f.password_field :password %>

      <%= f.label :Herhaal_Wachtwoord, "Bevestig je nieuwe wachtwoord" %>
      <%= f.password_field :password_confirmation %> 

      <%= f.submit "Wijzigingen opslaan", class: "btn btn-small btn-danger" %>
    <% end %>

  </div>
</div>