<% provide(:title, "Edit user") %>
<h1 align="center">Maak je profiel compleet!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :Naam  %>
      <%= f.text_field :name %>

      <%= f.label :Land_en_provincie %>
      <%= f.text_field :home %>

      <%= f.label :Email %>
      <%= f.text_field :email %>

      <%= f.label :Leeftijd %>
      <%= f.text_field :age %>

      <%= f.label :Bezochte_landen_of_steden %>
      <%= f.text_area :destination %>

      <%= f.label :De_landen_die_ik_graag_nog_wil_bezoeken %>
      <%= f.text_area :future %>

      <%= f.label :Extra_informatie_over_mij %> 
      <%= f.text_area :information %>
     

<br><br><br><br><br><br>
      <%= f.label :Verander_je_wachtwoord %>
      <%= f.password_field :password %>

      <%= f.label :Herhaal_Wachtwoord, "Bevestig je nieuwe wachtwoord" %>
      <%= f.password_field :password_confirmation %> 

      <%= f.submit "Wijzigingen opslaan", class: "btn btn-small btn-danger" %>
    <% end %>
        
        </div>
          </div>




<%= form_for @user, :html => { :multipart => true }
                                              do |f| %>

 <p> <b> attachment </b><br/>
      <%= f.file_field :attach %>
    </p>
   
   <p>
     <b> Picture </b><br/>
     <%= f.file_field :pic %>
  </p>