<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span3">
    <section>
      <h2>
        Naam reiziger:   <%= @user.name %>
        <br>E-mailadres: <%= @user.email %>
        <br><%= @user.age %>
        <br><%= @user.home %>
        <br><%= @user.gender %>
        <br><%= @user.destination %>
        <br><%= @user.information %>
        <br><%= @user.future %>

      </h2>
    </section>
  </aside>
</div>
<!-- <div class="row">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
     
        <%= render @microposts %>
     
      <%= will_paginate @microposts %>
    <% end %>
  </div> -->
  

  
 
